@media (max-width:395px) and (min-width:390px)
{
.first{   
    min-height:1650px;
}
.second{   
    min-height:930px;
    scroll-padding-bottom:10px;
}
}

@media (max-width:768px)  and (min-width:280px)
{
.mobile_show{   
    display: block;
}
}

@media  (min-width:769px)
{
.mobile_show{   
    display: none;
}
}